<br><h1 align="center" class="glow" style = "font-family: Cursive">Hello <%= @current_user.name %>!</h1><br><br>

<% if @messages.count > 0 %>
  <% @messages.each do |message| %>
    <% if message %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to "#{message.user.name}" , profile_path(message.user) %>
        </div>
        <div class="panel-body">
          <%= message.message %>
          - <%= distance_of_time_in_words(Time.now, message.created_at)%> ago
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h5>No recent posts</h5><br>
<% end %>
