<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Message</h3>
  </div>
  <%= simple_form_for(@message) do |f| %>
    <div class="panel-body">
      <% f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.input :message %>
      <%= f.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
